
body{
	margin: 0;
	font-family: sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #0f2656;
}


/*header start*/
header{
	padding: 15px 0;
	border-bottom: 2px solid #eef0f3;
}
.container{
	margin: 0 auto;
	width: 90%;
	overflow: hidden;
}
.logo{
	padding-top: 3px;
	width: 10%;
	float: left;
}
.logo img{
	width: 100%;
}
.menu{
	width: 50%;
	float: right;
}
.menu ul{
	float: right;
}
.menu ul li{
	list-style-type: none;
	float: left;
}
.menu ul li a{
	display: inline-block;
	padding: 0 25px;
	color: #0f2656;
	text-decoration: none;
	transition: .33S;
}
.menu ul li:last-child a{
	padding-right: 0;
}
.menu ul li a:hover{
	color: #259bff;
}

/*header end*/
/*banner start*/
.banner{
	padding: 60px 0;
}
.container2{
	margin: 0 auto;
	width: 65%;
	text-align: center;
}
.b_h1{
	margin: 0;
	padding:0 150px;
	font-size:45px ;
	font-weight: 700;
	line-height: 60px;
}
.b_h1 span{
	color: #259bff;
}
.b_p{
	margin: 10px 0 30px;
	padding: 0 70px;
	line-height: 25px;
}
.b_img{
	margin: 0 auto;
	width: 65%;
}
.b_img img{
	width: 100%;
}

/*banner end*/

/* success start*/
.success{
	padding: 60px 0;
}
.c2{
	margin: 0 auto;
	overflow: hidden;
}
.s_left{
	margin-left: 15px;
	width: 45%;
	float: left;
	text-align: right;
}
.s_h2{
	margin: 10px 0 10px;
	font-size:45px ;
	font-weight: 700;
	color: #f15767;
}
.s_p{
	padding-left: 28px;
	margin-top: 0;
	line-height: 30px;
	text-align: right;
}
.s_right{
	width: 50%;
	float: right;
}
.s_h1{
	margin: 0px;
	font-size: 45px;
	font-weight: 700 ;
	text-align: left;
	line-height: 60px;
}
/* success end*/

/*service start*/
.service{	
}
.single_service{
	margin-right: 2%;
	padding: 50px 2%;
	width: 32%;
	float: left;
	box-sizing: border-box;
}
.single_service:first-child{
	background-color:#fdebed ;
}
.single_service:nth-child(2){
	background-color:#ebf9f4 ;
}
.single_service:last-child{
	margin-right: 0;
	background-color:#fff7e8 ;
}
.ss_img img{
	width: 100%;
}
.ss_h2{
	margin: 15px 0;
	font-size: 24px;
	font-weight: 700;
}
.ss_p{
	margin: 0;
	line-height: 25px;
}
/*service end*/

/*footer start*/
.footer{
	margin-top: 60px;
	padding: 30px 0;
	background-color:#259bff ;
	color: #eef0f3;
	text-align: center;
}
.footer a{
	font-weight: 700;
	color: #ffffff;
	letter-spacing: 2px;
	text-decoration: none;
}
/*footer end*/
